/* Стилизация таблицы */
.callme__yellow {position: relative;}
.callme__yellow__table {width: 95%; max-height: 95%; background-color: #FFF; overflow-y: auto; border: 1px solid;}
.callme_yellow__table__content {width:100%; height: auto; background: #FFF; align-items: center;}
table {width: 100%; border-collapse: collapse;}
table td {padding: 10px; text-align: center;}

/* Предотвращение хайда ссылки "На главную" */
.header__menu__nav {display: inline;}
/* Замена бэкграунта "На главную" */
.margintop {height: 24.2vh;}
/* Боковые блоки */
.callme__picture {position: relative; width: 16.66%; background: #FFF; background-size: cover;}
/* Центральный блок */
.callme__yellow {width: 66.67%;}
/* Боковые картинки */
.callme__picture img {max-width: 90%; margin-left: 5%;height: auto;}
/* Ссылка на страницу авторизации */
.span {background-color: #F7E967; font-size: 50px; text-align: center; font-weight: 600;}
.span a {font-style: italic;}
.span a:hover {text-decoration: underline;}
@media screen and (max-aspect-ratio: 1/1){
    .callme__picture {display: none;}
    .callme__yellow {width: 100%;}
    .header__menu__logo {display: none;}
}